<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="product_list best_seller section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="section_tittle text-center">
                    <h2>Best Sellers <span>shop</span></h2>
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-12">
                <div class="best_product_slider owl-carousel owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                        <div class="owl-stage" style="transform: translate3d(-1200px, 0px, 0px); transition: all 0.25s ease 0s; width: 3120px;">
                            <div class="owl-item cloned" style="width: 210px; margin-right: 30px;">
                                <th:block th:each="product : ${productList}">
                                <div class="single_product_item">
                                    <a th:href="'/single-product.html?productNo=' + ${product.productNo}">
                                        <img th:src="${'/files/' + product.fileName1}">
                                    </a>
                                    <div class="single_product_text">
                                        <h4 th:text="${product.productName}"></h4>
                                        <h3 th:text="${product.productPrice} + '원'"></h3>
                                        <a href="#" class="add_cart">+ 장바구니 추가하기<i class="ti-heart"></i></a>
                                    </div>
                                </div>
                                </th:block>
                            </div>
                        </div>
                    </div>
                    <div class="owl-nav"><button type="button" role="presentation" class="owl-prev">next</button><button type="button" role="presentation" class="owl-next">previous</button></div><div class="owl-dots disabled"></div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>