<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="img/favicon.png">

  <th:block th:include="fragments/header :: 'header_css'"></th:block>
  <th:block th:include="fragments/header :: 'header_js'"></th:block>
</head>

<body>
  <div th:replace="fragments/header :: 'header'"></div>

  <section class="breadcrumb breadcrumb_bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="breadcrumb_iner">
            <div class="breadcrumb_iner_item">
              <h2>Order Confirmation</h2>
              <p>Home <span>-</span> Order Confirmation</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="confirmation_part padding_top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="confirmation_tittle">
            <span>감사합니다. 주문이 접수되었습니다.</span>
          </div>
        </div>
        <div class="col-lg-12 col-lx-4">
          <div class="single_confirmation_details">
            <h4>주문 정보</h4>
            <ul>
              <li>
                <p>주문번호</p><span>123456789123</span>
              </li>
              <li>
                <p>주문자</p><span>이유나</span>
              </li>
              <li>
                <p>전화번호</p><span>01079996044</span>
              </li>
              <li>
                <p>이메일</p><span>ajfkda@naver.com</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="order_details_iner">
            <h3>주문 상세 정보</h3>
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th scope="col" colspan="2">상품</th>
                  <th scope="col">수량</th>
                  <th scope="col">금액</th>
                </tr>
              </thead>
              <tbody>
                <th:block th:each="order : ${orderList}">
                  <tr>
                    <img th:src="" class="mr-3" alt="상품 이미지" style="width: 50px;">
                    <th colspan="2"><span th:text="${order.productName}"></span></th>
                    <th>x02</th>
                    <th> <span th:text="'$' + ${product.productPrice}"></span></th>
                  </tr>
                </th:block>
              </tbody>
              <tfoot>
                <tr>
                  <th scope="col" colspan="3">결제 금액</th>
                  <th scope="col"></th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div th:replace="fragments/footer :: 'footer'"></div>

</body>
</html>