<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>nieve</title>
    <link rel="icon" href="img/favicon.png">

    <th:block th:include="fragments/header :: 'header_css'"></th:block>

    <style>
        .image1 {
          max-height: 100%;
        }
        .image2 {
          max-height: 70%;
        }
    </style>
</head>

<body>
    <div th:replace="fragments/header :: 'header'"></div>

    <section class="banner_part">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="banner_slider owl-carousel">
                        <div class="single_banner_slider">
                            <div class="row">
                                <div class="banner_img d-none d-lg-block">
                                    <img src="img/main01.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="single_banner_slider">
                            <div class="row">
                                <div class="col-lg-5 col-md-8">
                                    <div class="banner_text">

                                    </div>
                                </div>
                                <div class="banner_img d-none d-lg-block">
                                    <img src="img/main01.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="feature_part padding_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section_tittle text-center">
                        <h2>CATEGORY</h2>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-between">
                <th:block th:each="product, idx : ${categories}">
                    <div th:class="${((idx.index % 4) == 0 || (idx.index % 4) == 3) ? 'col-lg-7 col-sm-7' : 'col-lg-5 col-sm-5'}">
                        <div class="single_feature_post_text">
                            <p th:text="${product.categoryName}"></p>
                            <h3 th:text="${product.productName}"></h3>
                            <a th:href="'/single-product.html?productNo=' + ${product.productNo}" class="feature_btn">보러가기 <i class="fas fa-play"></i></a>
                            <img th:class="${((idx.index % 4) == 0 || (idx.index %4) == 3) ? 'image1' : 'image2' }"
                                 th:src="${'/files/' + product.fileName1}" style="max-width: 400px;">
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </section>
    <section class="product_list best_seller section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="section_tittle text-center">
                        <h2>Best Item <span>인기있는 상품들을 살펴보세요.</span></h2>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-12">
                    <div class="best_product_slider owl-carousel owl-loaded owl-drag">
                        <div class="owl-stage-outer">
                            <div class="owl-stage" style="transform: translate3d(-1200px, 0px, 0px); transition: all 0.25s ease 0s; width: 3120px;">
                                <th:block th:each="product : ${productList}">
                                <div class="owl-item cloned" style="width: 210px; margin-right: 30px;">
                                    <div class="single_product_item">
                                        <a th:href="'/single-product.html?productNo=' + ${product.productNo}">
                                            <img th:src="${'/files/' + product.fileName1}">
                                        </a>
                                        <div class="single_product_text">
                                            <h4 th:text="${product.productName}"></h4>
                                            <h3 th:text="${product.productPrice} + '원'"></h3>
                                            <a onclick="javascript:addToCart()" class="add_cart">+ 장바구니 추가하기<i class="ti-heart"></i></a>
                                        </div>
                                    </div>
                                </div>
                                </th:block>
                            </div>
                        </div>
                        <div class="owl-nav"><button type="button" role="presentation" class="owl-prev">next</button><button type="button" role="presentation" class="owl-next">previous</button></div><div class="owl-dots disabled"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        // 장바구니 추가
         function addToCart() {
            $.ajax({
              method: "POST",
              url: "/addCart",
              contentType: "application/json; charset=UTF-8",
              data: JSON.stringify({
                "productNo" : $("#productNo").val(),
                "cartStock": $("#cartStock").val()
              }),
              success : function(result) {
                var myModal = new bootstrap.Modal(document.getElementById('cartModal'));
                myModal.show();
             }
            });
         }
    </script>
    <div th:replace="fragments/footer :: 'footer'"></div>

    <th:block th:include="fragments/header :: 'header_js'"></th:block>
</body>
</html>