<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
</head>
<body>
<div class="outer">
    <span sec:authentication="principal.username" />
    <h2>회원가입</h2>

    <form action="/memberUpdate" method="post" id="enrollForm">
        <input type="hidden" th:value="${member.memNo}">

        <div class="form-group">
            <label for="memEmail">* 이메일 :</label>
            <input type="email" class="form-control" id="memEmail" name="memEmail" th:value="${member.memEmail}" readonly>
        </div>

        <div class="form-group">
            <label for="memPwd">* 비밀번호 :</label>
            <input type="password" class="form-control" id="memPwd" name="memPwd" maxlength="15" >
        </div>
        <div class="form-group">
            <label for="checkPwd">* 비밀번호 확인 :</label>
            <input type="password" class="form-control" id="checkPwd" name="checkPwd">
        </div>

        <div class="form-group">
            <label for="memName">* 이름 :</label>
            <input type="text" class="form-control" id="memName" name="memName" maxlength="6" th:value="${member.memName}" required>
        </div>

        <div class="form-group">
            <label for="phone">전화번호 :</label>
            <input type="tel" class="form-control" id="phone" name="phone" th:value="${member.phone}" pattern="[0-9]*">
        </div>

        <div class="form-group">
            <label for="address1">주소 :</label>
            <input type="text"  id="zipcode" name="postNo" onclick="openZipSearch();" th:value="${member.postNo}">
            <button id="zipcodeBtn" type="button" class="btn btn-outline-primary" onclick="selectZipcode();">우편번호 검색</button><br>
            <input type="text"  id="address1" name="address1" th:value="${member.address1}">
            <input type="text"  id="address2" name="address2" th:value="${member.address2}">
        </div>

        <button type="submit" id="memberUpdate" class="btn btn-primary">수정하기</button>
        <button type="button" class="btn btn-danger">탈퇴하기</button>
    </form>
</div>
</body>
</html>