<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>주문서</title>
  <link rel="icon" href="img/favicon.png">

  <th:block th:include="fragments/header :: 'header_css'"></th:block>
  <th:block th:include="fragments/header :: 'header_js'"></th:block>
</head>

<body>
  <div th:replace="fragments/header :: 'header'"></div>

  <section class="breadcrumb breadcrumb_bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="breadcrumb_iner">
            <div class="breadcrumb_iner_item">
              <h2>주문서</h2>
              <p>Home <span>-</span> Shop Single</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="checkout_area padding_top">
    <div class="container">
      <div class="billing_details">
        <div class="row">
          <div class="col-lg-8">
            <form class="row contact_form" action="#" method="post" novalidate="novalidate">
              <input type="hidden" name="memNo" th:value="${member.memNo}">
              <h3>주문자 정보</h3>
              <div class="col-md-12 form-group p_star">
                <label for="memName">주문하신 분</label>
                <input type="text" class="form-control" id="memName" name="memName" th:value="${member.memName}"/>
              </div>
              <div class="col-md-12 form-group p_star">
                <label for="phone">전화번호</label>
                <input type="tel" class="form-control" id="phone" name="phone" th:value="${member.phone}" />
              </div>
              <div class="col-md-12 form-group p_star">
                <label for="memEmail">이메일</label>
                <input type="email" class="form-control" id="memEmail" name="memEmail" th:value="${member.memEmail}" />
              </div>
              <h3>배송 정보</h3>
              <div class="col-md-12 form-group p_star">
                <label for="memName">받으실 분</label>
                <input type="text" class="form-control" name="name" />
              </div>
              <div class="col-md-12 form-group p_star">
                <label for="phone">전화번호</label>
                <input type="text" class="form-control" name="phone" />
              </div>
              <div class="col-md-6 form-group p_star">
                <label for="address1">주소</label>
                <input type="text" class="form-control" id="zipcode" name="postNo" onclick="openZipSearch();" th:value="${member.postNo}"/>
              </div>
              <div class="col-md-6 form-group p_star">
                <button id="zipcodeBtn" type="button" class="btn btn-outline-primary" onclick="selectZipcode();" style="user-select: auto !important;">우편번호 검색</button>
              </div>
              <div class="col-md-6 form-group p_star">
                <input type="text" class="form-control" id="address1" name="address1" th:value="${member.address1}"/>
              </div>
              <div class="col-md-6 form-group p_star">
                <input type="text" class="form-control" id="address2" name="address2" th:value="${member.address2}"/>
              </div>
              <div class="col-md-12 form-group p_star">
                <label for="message">배송메세지(100자내외)</label>
                <input type="text" class="form-control" id="message" name="message"/>
              </div>
              <div class="container mt-5">
                <table class="table table-bordered">
                  <thead class="thead-light">
                  <tr>
                    <th>상품명</th>
                    <th>수량</th>
                    <th>상품금액</th>
                  </tr>
                  </thead>
                  <tbody>
                  <th:block th:each="cart : ${cartList}">
                    <tr>
                      <td>
                        <input type="hidden" name="cartNo" th:value="${cart.cartNo}">
                        <a th:href="'/single-product.html?productNo=' + ${cart.product.productNo}">
                          <div class="media">
                            <img th:src="${'/files/' + cart.product.fileName1}" class="mr-3" alt="상품 이미지" style="width: 50px;">
                            <div class="media-body">
                              <h5 class="mt-0" name="productName" th:text="${cart.product.productName}"></h5>
                            </div>
                          </div>
                        </a>
                      </td>
                      <td th:text="${cart.cartStock}"></td>
                      <td th:text="${#numbers.formatInteger((cart.product.productPrice * cart.cartStock), 3, 'COMMA')} + '원'">
                        <input type="hidden" name="productPrice">
                      </td>
                    </tr>
                  </th:block>
                  </tbody>
                </table>
                <table class="table">
                  <tbody>
                  <tr class="total">
                    <td colspan="3" class="text-right"><strong>총 상품 금액:</strong></td>
                    <td th:text="${#numbers.formatInteger(#aggregates.sum(cartList.![product.productPrice * cartStock]), 3, 'COMMA') + '원'}"></td>
                  </tr>
                  <tr>
                    <td colspan="3" class="text-right"><strong>배송비:</strong></td>
                    <td>2,500원</td>
                  </tr>
                  <tr>
                    <td colspan="3" class="text-right"><strong>결제 예정 금액:</strong></td>
                    <td th:text="${#numbers.formatInteger(#aggregates.sum(cartList.![product.productPrice * cartStock]) + 2500, 3, 'COMMA') + '원'}"></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </form>
          </div>
          <div class="col-lg-4">
            <div class="order_box">
              <h2>최종 결제 금액</h2>
              <ul class="list">
                <li>
                  <a href="#">상품금액
                    <span th:text="${#numbers.formatInteger(#aggregates.sum(cartList.![product.productPrice * cartStock]), 3, 'COMMA') + '원'}"></span>
                  </a>
                </li>
                <li>
                  <a href="#">배송비
                    <span>2500원</span>
                  </a>
                </li>
                <li>
                  <a href="#">할인금액
                    <span>0원</span>
                  </a>
                </li>
                <li>
                  <a href="#">추가금액
                    <span>0원</span>
                  </a>
                </li>
                <li>
                  <a href="#">최종 결제금액
                    <span id="subtotal" th:text="${#numbers.formatInteger(#aggregates.sum(cartList.![product.productPrice * cartStock]) + 2500, 3, 'COMMA') + '원'}"></span>
                  </a>
                </li>
              </ul>
              <a class="btn_3" onclick="javascript:orderAdd()">결제하기</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div th:replace="fragments/footer :: 'footer'"></div>

  <script type="text/javascript">

    function orderAdd() {

      const data = {
        "address": $("#address1").val() + " " + $("#address2").val(),
        "postNo": $("#zipcode").val(),
        "message": $("#message").val(),
        "phone": $("#phone").val(),
        "memNo": $("#memNo").val()
      };

      console.log("Sending data:", JSON.stringify(data));

      $.ajax({
        method: "POST",
        url: "/orderAdd",
        contentType: "application/json; charset=UTF-8",
        data: JSON.stringify(data),
        success : function(result) {
          confirmBuy();
        }
      });
    }

    function confirmBuy() {

      const names = $("h5[name=productName]")
      const count = names.size();
      const firstName = names.first().text();

      console.log("count : " + count);
      console.log("first name : " + firstName);

      const orderName = (count > 1) ? firstName + " 외 " + (count - 1) : firstName;

      const priceSum = parseInt($("#subtotal").text());

      console.log("orderName : " + orderName);
      console.log("priceSum : " + priceSum);

      PortOne.requestPayment({

        // Store ID 설정
        storeId: "store-75557aa8-5f21-452a-9e2c-0ea435b48e2a",

        // 채널 키 설정
        channelKey: "channel-key-fa24fffc-de3e-40e0-ae09-ddc7835e7721",
        paymentId: `payment-${crypto.randomUUID()}`,
        orderName: orderName,
        totalAmount: priceSum,
        currency: "CURRENCY_KRW",
        payMethod: "EASY_PAY",
      }).then(r  => console.log(r));
    }

    function selectZipcode() {

      new daum.Postcode({

      oncomplete: function(data) {
          // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

          // 각 주소의 노출 규칙에 따라 주소를 조합한다.
          // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
          var addr = ''; // 주소 변수
          var extraAddr = ''; // 참고항목 변수

          //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
          if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
              addr = data.roadAddress;
          } else { // 사용자가 지번 주소를 선택했을 경우(J)
              addr = data.jibunAddress;
          }

          // 우편번호와 주소 정보를 해당 필드에 넣는다.
          document.getElementById('zipcode').value = data.zonecode;
          document.getElementById("address1").value = addr;
          // 커서를 상세주소 필드로 이동한다.
          document.getElementById("address2").focus();
      }
      }).open({
          popupTitle: '우편번호 검색'
          // ,theme: themeObj
          });
    }
  </script>
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

</body>
</html>